<div class="grid"  *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('Locale')" *ngIf="createActionIsValid"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()  *ngIf="deleteActionIsValid"></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-secondary mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-secondary" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="1">{{'locale.ref' | translate}}</label>
                            <input  class="w-full"  pInputText id="1" type="text"  [(ngModel)]="criteria.refLike">
                        </div>
                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="2">{{'locale.libelle' | translate}}</label>
                            <input  class="w-full"  pInputText id="2" type="text"  [(ngModel)]="criteria.libelleLike">
                        </div>
                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="3">{{'locale.complementAdresse' | translate}}</label>
                            <input  class="w-full"  pInputText id="3" type="text"  [(ngModel)]="criteria.complementAdresseLike">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="4-1">{{'locale.dernierAnneeDePaiementMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.dernierAnneeDePaiementMin" id="4-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="4-2">{{'locale.dernierAnneeDePaiementMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.dernierAnneeDePaiementMax" id="4-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-1">{{'locale.dernierTrimestreMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.dernierTrimestreMin" id="5-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-2">{{'locale.dernierTrimestreMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.dernierTrimestreMax" id="5-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="6-1">{{'locale.superficieMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.superficieMin" id="6-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="6-2">{{'locale.superficieMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.superficieMax" id="6-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-2">{{'locale.rue' | translate}} Max</label>
                            <p-dropdown [options]="rues" [(ngModel)]="criteria.rue" id="7" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'locale.rue' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="8-2">{{'locale.categorieLocale' | translate}} Max</label>
                            <p-dropdown [options]="categorieLocales" [(ngModel)]="criteria.categorieLocale" id="8" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'locale.categorieLocale' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['ref', 'libelle', 'complementAdresse', 'dernierAnneeDePaiement', 'dernierTrimestre', 'superficie', 'ruelibelle', 'categorieLocalelibelle']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'locale.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="ref">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'locale.ref' | translate}}</span>
                                <p-sortIcon field="ref"></p-sortIcon>
                                <p-columnFilter type="text" field="element.ref" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="libelle">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'locale.libelle' | translate}}</span>
                                <p-sortIcon field="libelle"></p-sortIcon>
                                <p-columnFilter type="text" field="element.libelle" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="complementAdresse">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'locale.complementAdresse' | translate}}</span>
                                <p-sortIcon field="complementAdresse"></p-sortIcon>
                                <p-columnFilter type="text" field="element.complementAdresse" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="dernierAnneeDePaiement">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'locale.dernierAnneeDePaiement' | translate}}</span>
                                <p-sortIcon field="dernierAnneeDePaiement"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="dernierTrimestre">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'locale.dernierTrimestre' | translate}}</span>
                                <p-sortIcon field="dernierTrimestre"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="superficie">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'locale.superficie' | translate}}</span>
                                <p-sortIcon field="superficie"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="rue">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'locale.rue' | translate}}</span>
                                <p-sortIcon field="rue"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="categorieLocale">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'locale.categorieLocale' | translate}}</span>
                                <p-sortIcon field="categorieLocale"></p-sortIcon>
                            </div>
                        </th>
                                
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.ref}}</td>
                            
                            
                        <td>{{element.libelle}}</td>
                            
                            
                        <td>{{element.complementAdresse}}</td>
                            
                            
                        <td>{{element.dernierAnneeDePaiement}}</td>
                            
                            
                        <td>{{element.dernierTrimestre}}</td>
                            
                            
                        <td>{{element.superficie}}</td>
                            
                            
                        <td>{{element.rue?.libelle}}</td>
                            
                            
                        <td>{{element.categorieLocale?.libelle}}</td>
                            
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'locale' : 'locales' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-locale-create-admin  *ngIf="createDialog  && createActionIsValid"></app-locale-create-admin>
        <app-locale-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-locale-edit-admin>
        <app-locale-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-locale-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
